.article-text {
    display: inline-block;
}

article h1 {
    font-size: calc(20px + 2vmin);
    color: white;
    text-align: left;
}

article h2 {
    font-size: calc(5px + 2vmin);
    color: white;
    text-align: left;
}

article p {
    font-size: calc(1px + 2vmin);
    color: white;
    text-align: left;
}