.article-text {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    width: 33%;
    height: 100%;
    top: 0;
    right: -33%;
    padding: 6vmin 2vmin;
    z-index: 1;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  

    transition: all 1s cubic-bezier(.82, .1, .11, 1.12);
    &:hover{
        content: "Hide Caption";
        right: 0;
    }
}
.article-text:before {
    content: "Show Caption";
    background: transparent;
    display: block;
    position: absolute;
    // width: 100%;
    // top: 100%;
    border-left: 50px solid rgba(0, 0, 0, 0);
    margin-left: -5rem;

    text-align: right;

    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: scale(-1, -1);

    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7rem;
    letter-spacing: 0.4em;
}

.article-text *{
    margin-bottom: 2.8vmin;
}

article h1 {
    font-size: calc(2px + 4vmin);
    font-weight: 100;
    letter-spacing: 0.5vmin;

    color: white;
    text-align: left;

    text-transform: uppercase;
    overflow-wrap: break-word;
}

article h2 {
    font-size: calc(5px + 1vmin);
    font-weight: 100;
    letter-spacing: 0.5vmin;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

article p {
    font-size: calc(1px + 1.2vmin);
    font-weight: 300;

    color: white;
    text-align: left;
    margin-left: span 1;
    line-height: 1.6em;
}

// for small screens
@media (max-width: 750px){
    .article-text {
        grid-column: span 16;
        order: 1;

        width: 100%;
        height: 100%;
        top: 100%;
        right: 0;
        left: 0;


        &:hover{
            content: "Hide Caption";
            top: 64px;
        }
    }
    .article-text:before{
        writing-mode: horizontal-tb;
        text-orientation: initial;
        transform: scale(1, 1);

        border-left: none;
        border-bottom: 50px solid rgba(255, 0, 0, 0);
        margin-left: -2vmin;
        margin-top: -4rem;

        width: 100%;
        text-align: center;

    }
}