.image-preview {
    grid-column: 7 / span 10;
    grid-row: span 2;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 10px 40px #000000);
    object-position: 0 0;
}

