// if width of image is greater than height of image
@mixin full-width-article($bigger-width){
    @if $bigger-width{
        max-width: 100%;
        padding: 0 4vw; 
    }
}

article{
    /* grid */
    display: grid;
    // position: relative;
    height: 100%;
    margin: auto;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: minmax(auto, calc(100vh - 16px - 16vmin)) 16px;
    grid-gap: 6vmin 3%;

    // justify-items: center;

    max-width: 95%;

    @include full-width-article(false);

}
article *{
    // position: relative;
}
// for small screens
@media (max-width: 750px){
    article{
        max-width: 100vw;
        padding: 0;
        margin: 0;
        max-height: calc(100vh - 16px - 16vmin);
        // padding: 0 4vw; 
        grid-template-rows: auto 16px;
    }

    article p{
        font-size: 10px;
    }
}

